<p>Do chatu {{proceedingName}} dorazila nová zpráva</p>

<p>V rámci dědického řízení {{{proceedingName}}} jste obdrželi novou zprávu:</p>
<p><strong>Od:</strong> {{{senderName}}} ({{{senderEmail}}})</p>
<p
  style='background-color: #f7f0eb; padding: 10px; border-radius: 10px; margin: 10px 0; color: #333;'
>
  {{{messageBody}}}
</p>
